body
{
    margin: 0;
    background-color: #9DDAC6;
    text-align: center;
    /* font-family: 'Bitter', serif; */
    /* font-family: 'Great Vibes', cursive; */
    font-family: 'Montserrat', sans-serif;
}
}
.top-container
{
    padding-top: 30px;
    position: relative;
}
.top-cloud
{
    position:relative;
    /* top: 20px; */
    left: 200px;
}
.bottom-cloud
{
    position: absolute;
    bottom:300px;

}
h1{
    font-family: 'Sacramento', cursive;
}
h2
{
    font-family: 'Montserrat', sans-serif;
}
h3{
    font-family: 'Montserrat', sans-serif;
}
hr
{
    border-style: dotted;
    border-width: 7px;
    border-color: grey;
    border-top:3px;
    width:7%;
}

.bottom-container
{
    font-family: 'Montserrat', sans-serif;
}













/* body{
    margin:0
}
h1
{
    margin-top: 0;
}
body{
    width:500px;
    height:500px;

}
.top-container
{
    background-color: #7FC8A9;
    height: 200px;
    width: 200px; 
    border: 10px;
    padding: 20px;
    border-style: solid;
}
.middle-container
{
height: 200px;
width: 200px;
background-color: #5C527F;
border: 20px;
border-style: solid;
margin-left: 260px;
}
.bottom-container
{
    height: 200px;
    width: 200px;
    background-color: #9E7777;
    border: 10px;
    border-style: solid;
    margin-left: 500px;
} */